$black: #333333;
$gray: #d3d3d3;
$white: #ffffff;
$green: #26a65b;

body {
  margin: 0;
}

.container {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  height: 100vh;
  justify-items: center;
  width: 100vw;

  > * {
    grid-column: 1;
    grid-row: 1;
  }
}

.ready {
  background: $white;
  border: $gray solid 1px;
  border-radius: 4px;
  color: $black;
  cursor: pointer;
  font-size: 30px;
  padding: 10px 20px;
  transition-duration: 150ms;
  transition-property: background, border;

  &:hover {
    background: darken($white, 5%);
    border-color: darken($gray, 5%);
  }
}

.toast {
  color: $green;
  font-size: 80px;
}
